body{
    text-align:center;
}

main{
    margin-left:30%;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
}

#desc{
    margin-left: 20%;
    width: 60%;
}

a {
    text-decoration: underline;
    color:black;
}

@media all and (max-width: 1500px) and (min-width:1200px) {
    main{
        margin-left:15%;
    }
}

@media all and (max-width: 1200px) {
    main{
        margin-left:2.5%;
    }
}